{% extends "core/base.html" %} {% block title %}My Store{% endblock %}
 {% block baseblock %}

<div class="container mt-5">
  <h1>Your Store🏪</h1>

  <div class="card mb-4">
    {% if messages %} {% for message in messages %} {{ message }} {% endfor %}
    {% endif %}
  </div>
  <!-- Add Product Form -->
  <div class="card mb-4">
    <div class="card-header">Add Product</div>
    <div class="card-body">
      <a href="{% url 'add_product' %}"
        ><button class="btn btn-primary">Add Product</button></a
      >
    </div>
  </div>

  <!-- Products List -->
  <div class="col-12">
    <h2 class="vendor-title">Products you listed</h2>
  </div>
  <div class="row">
    {%if products%}
    {% for product in products %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        {% if product.image %}
        <img
          src="{{ product.image.url }}"
          class="card-img-top img-fluid"
          alt="{{ product.name }}"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            {% if product.description|length > 20 %} {{product.description|truncatewords:20 }}...
             {% else %}
              {{product.description }}
               {% endif %}
          </p>
          <p class="card-text"><strong>Price:</strong> ₹{{ product.price }}</p>
          <p class="card-text"><strong>Stock:</strong> {{ product.stock }}</p>
          <a href="{%url 'edit_product' product.slug %}"
            ><button type="submit" class="btn btn-danger">Edit</button></a
          >
          <a href="{%url 'remove_product' product.slug %}"
            ><button type="submit" class="btn btn-danger">
              Remove Product
            </button></a
          >
        </div>
      </div>
    </div>
    {% endfor %}
    {%else%}
    <h5>you have no products listed...</h5>
    {%endif%}
  </div>
  <div class="col-12">
    <h2 class="vendor-title">Orders you received</h2>
  </div>
  <div class="row">
    {%if orders%}
    {% for order in orders %}
    {%if order.order.is_paid is True%}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        {% if order.product.image %}
        <img
          src="{{ product.image.url }}"
          class="card-img-top img-fluid"
          alt="{{ product.name }}"
        />
        {% endif %}
        
           <div class="card-body">
          <a href="{%url 'product_details' order.product.slug%}"><h5 class="card-title">{{ order.product.name }}</h5></a>
          <p class="card-text"><strong>Order id:</strong> {{ order.order.id }}</p>
          <p class="card-text"><strong>Price:</strong> ₹{{ order.product.price }}</p>
          <p class="card-text"><strong>order Request:</strong> {{ order.quantity }}</p>
          <p class="card-text"><strong>Total Price:</strong> {{ order.price }}</p>
          <p class="card-text"><strong>Stock:</strong> {{ order.product.stock }}</p>
          <p class="card-text"><strong>Payment:</strong> {%if order.order.is_paid%}Done{%else%}Pending{%endif%}</p>
          <p class="card-text"><strong>Address:</strong> {{ order.order.address }}</p>
          <p class="card-text"><strong>Pincode:</strong> {{ order.order.zipcode }}</p>
          <p class="card-text"><strong>phone:</strong> {{ order.order.phone }}</p>
          <p class="card-text"><strong>Email:</strong> {{ order.order.email }}</p>
        </div>
       
      </div>
    </div>
    {%endif%}
    {% endfor %}
  {%else%}
  <div class="col-md-4"><h4>You have no orders yet 😕</h4></div>
  {%endif%}
  </div>
</div>
{% endblock %}
